/* 默认内间距，外间距 */
* {
padding: 0;
margin: 0;
}
body,
html {
font-family: '微软雅黑';
}
html {
background-color:#f2f2f2
}

/* 清楚a标签下划线 */
a{
 color:#666;
 text-decoration:none
}
a:hover{
 color:#2fa7b9
}
/* 进度条样式 */
#nprorogress .bar{ 
background: #e99d53 !important;
}
/* 滚动锁定修复 */
.el-popup-parent--hidden {
  overflow: auto !important;
  padding-right: 0 !important;
}
/* 移除遮罩层的变暗效果 */
.el-overlay {
  background-color: transparent !important;
}

.el-overlay .el-message-box,
.el-overlay .el-dialog {
  pointer-events: auto !important;
}